*{
    box-sizing: border-box;
}

html{
    margin: 0;
}

body{
    font-family: "Source Sans 3", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

header{
    display: flex;
    width: 100%;
    padding-left: 1.25em;
    padding-right: 1.25em;
    justify-content: space-between;
}


header div{
    display: flex;
    align-items: center;
    gap: 0.3125em;
}

header img{
    width: 24px;
    height: 24px;
}
header p {
    font-size: 0.875rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #0E0E0E;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

li > a{
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 600;
    color: #090909;
}


.article-main{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100vw;
    background-size: cover;
    color: #151515;
    padding: 2em 1.56em 1.25em;
}

.article-main span{
    font-size: 0.75rem;
    margin: 0;
}
.article-main p{
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
}

a{
    text-decoration: none;
}
h1{
    font-size: 2rem;
    font-weight: 700;
    margin: 0.5em 0;
}

.article-main img{
   height: 191px;
   margin-top: 2em;
}

h2{
    font-size: 1rem;
    font-weight: bold;
}

.recent-posts{
    text-align: center;
}

.blog-posts{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.125em 1.25em 0.5em 1.25em;
    gap: 2.5em;
}

.blog-posts img{
    width: 100%;
}


footer{
    margin-top: 2.6875em;
    background-color: #202020;
    color: #ECECEC;
    width: 100vw;
    height: 105px;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
}

footer p{
    color: #D7D7D7;
    font-weight: normal;
}


@media(min-width: 1024px){

    body{
        margin: 0 3.3125em;
    }

     header img{
        width: 35px;
        height: 35px;
    }
    header p {
        font-size: 1.25rem;
    }
    
    li > a{
        font-size: 1rem;
    }
     
    h1{
        font-size: 2.5rem;
    }      

    .article-main{
        padding: 0;
        margin: 4.5em 0;
        width: auto;
        overflow: visible;
    }


    .article-main img{
        height: 488px;
    }
        
    h2{
        font-size: 1.5rem;
    }

    .blog-posts{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
         grid-template-areas: 
          ". rec ."
          "one two thr";
        margin: 2.125em auto  0.5em ;
        gap: 2.5em;
    }
     
    .recent-posts{
        grid-area: rec;
    }
     .blog-one{
        grid-area: one;
    }

    .blog-two{
        grid-area: two;
    }

    .blog-three{
        grid-area: thr;
    }

}

