*{
    box-sizing: border-box;
}

html{
    margin: 0;
}

body{
    font-family: "Source Sans 3", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

header{
    display: flex;
    width: 100%;
    padding-left: 1.25em;
    padding-right: 1.25em;
    justify-content: space-between;
}


header div{
    display: flex;
    align-items: center;
    gap: 0.3125em;
}

header img{
    width: 24px;
    height: 24px;
}
header p {
    font-size: 0.875rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #0E0E0E;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

li > a{
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 600;
    color: #090909;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100vw;
    height: 293px;
    background-image: url(images/article-image-hero.png);
    background-size: cover;
    color: #FFFFFF;
    padding: 3.4em 1.56em 1.25em;
    cursor: pointer;
}

.hero span{
    font-size: 0.75rem;
    color: #D7D7D7;
    margin: 0;
}
.hero p{
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
}

a{
    text-decoration: none;
}
h1{
    font-size: 2rem;
    font-weight: 700;
    margin: 0.5em 0;
}

.blog-posts{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.125em 1.25em 0.5em 1.25em;
    gap: 2.5em;
}

.blog-posts img{
    width: 100%;
}

.view-more{
    display: block;
    text-align: center;
    color: black;
    text-decoration: underline;
    font-weight: 700;
}

footer{
    margin-top: 2.6875em;
    background-color: #202020;
    color: #ECECEC;
    width: 100vw;
    height: 105px;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
}

footer p{
    color: #D7D7D7;
    font-weight: normal;
}

